h1 {
  text-align: center;
}

/* Header.css */
header {
    background-color: #fff;
    color: #fff;
    padding: 20px 0;
    margin-bottom: 30px;
    display:flex;
    flex-direction: row;
  }
  
  header .logo {

    width: 35%;
    color : #000;
    font-size: 20px;
    padding-left: 6%;
  }
.navbar {
  width: 65%;
  justify-content: center;
}

  nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;


    justify-content:space-evenly;

  }
  
  nav li {

    padding-left: 30px 40px;
    padding-right: 30px 40px;
    margin: 0 20px;
    align-items: center;
    
  }
  
  nav a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  nav a:hover {
    color: blue; /* Change this color for the hover effect */
  }
  
  /* Footer.css */
footer .container {
    width:100%;

  }
.footer-div {

      background-color: #fff;
      color: #fff;
      padding: 20px 0;
      margin-bottom: 30px;
      display:flex;
      flex-direction: row;
      align-items: space-evenly;
    }
 
.footer-content {
font-size: 17px;
    width:50%;
    color : #000;
    font-size: 20px;
    padding-left: 6%;
    text-align: center;
    font-family: 'Noto Serif', serif;
  }


/* calculator.css */
.tool-wrapper {
  width:100%;

}

.tool {
  background-color: #fff;
  height: 100%;
  display: flex; /* Make it a flex container */
  flex-direction: row; /* Arrange its children horizontally */
  flex-wrap: wrap;
  align-items: flex-start;
}

.calculator {
  align-items: center;

  min-width: 45%;
  max-width: 50%;
  padding: 20px; /* Add some padding to separate the calculator and chart */
}

.chart {

  align-items: center;
  margin-top: 20px;
  height: 100%;
  min-width: 45%;
  max-width: 50%;
  background-color: white;
  padding: 20px; /* Add some padding to separate the calculator and chart */
}

.calculator h2 {
  text-align: center;
  
}

.input-field {
  width: 100%;
  align-items: center;
}

.input-field label {
  display: block; /* Display the label as a block-level element */
  margin: 8px; /* Add some spacing between the label and input */
  font-size: large;
}

.input-field input {
  display: block; /* Display the input as a block-level element */
  width: 100%; /* Make the input expand to the full width of its container */
  border:none;
  border-bottom: 1px solid black; /* Add a bottom border */
  transition: border 0.15s ease-in-out 0s;
}

.result p {
  text-align: center;
  padding-left: 10%;
  padding-bottom: 10%;
  padding-right: 10%;
  font-size: 40px;
}


/* About.css */
.about-gif-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Article.css*/

.blog-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.blog content h1 {
  text-align: center;
  margin-bottom: 20px;
}

.blog content p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

